.event-aqua-pump {
  background-color: #007bff !important;
  color: white !important;
  border: none !important;
}

.event-power-strength {
  background-color: #28a745 !important;
  color: white !important;
  border: none !important;
}

.event-pilates {
  background-color: #ff5733 !important;
  color: white !important;
  border: none !important;
}

.event-default {
  background-color: #6c757d !important;
  color: white !important;
  border: none !important;
}
